body {
    text-align: center;
    background-color: lightcoral;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: lightcoral;
}

#origami1{
background-color: lightcoral;
}

#origami2{background-color: ;

}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}